ul {
    display: flex;
    padding: 5px 20px;
    border: 1px solid paleturquoise;
    background: url("menu.svg") 0 no-repeat;
}

li {
    color: blue;
    list-style: none;
    padding: 10px 25px;
    border-right: 1px solid palegreen;
}